<!DOCTYPE html>
<html>
  <head>
    <title>Schooled</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <% if current_user %>
        Hello <%= current_user.email %>
        <%= link_to "Logout", logout_path('current_user') %>
      <% else %>
        <%= link_to "Sign Up", new_users_path %>
        or
        <%= link_to "Sign In", login_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
